/*
Theme Name: My University Child
Description: My University Child Theme
Author: Your name here
Template: myuniversity
Version: 1.0
*/

@import url("../myuniversity/style.css");

/* 5 Bootstrap Columns Trick */
.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
	position: relative;
	min-height: 1px;
	padding-right: 10px;
	padding-left: 10px;
}

.col-xs-15 {
	width: 20%;
	float: left;
}
@media (min-width: 768px) {
	.col-sm-15 {
		width: 20%;
		float: left;
	}
}
@media (min-width: 992px) {
	.col-md-15 {
		width: 20%;
		float: left;
	}
}
@media (min-width: 1200px) {
	.col-lg-15 {
		width: 20%;
		float: left;
	}
}


.client-login-area {
	margin-top: 20px;
	height: 400px;
}

.client-login-area .container {
	height: 500px;
}

.client-login-area .container .left-block span {
	color: #fff;
}

.training-modules .entry-content img {
	width: 100%;
}

.training-modules .entry-content img:hover,
#menu-module-details-menu > li:hover,
.full-cu-banner-img img:hover {
	opacity: 0.5;
	filter: alpha(opacity=50);
}

button.buy-now-btn:hover {
	background-color: #ef2923 !important;
}

.right-block form,
.right-block .a-member {
	color: #2f3c40;
	padding-right: 15px;
}

.right-block .forgot-password {
	color: #2f3c40;
}

.right-block .forgot-password {
	float: right;
}

.client-login-area .right-block {
	padding: 14px 15px 0;
	padding-left: 140px;
}

.form-control {
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.btn {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
}

.client-login-area .right-block .btn {
	background-color: #ef2923;
	color: #fff;
	font-weight: bold;
	background-image: none;
	padding: 5px 12px;
	text-shadow: 1px 1px 4px rgba(0,0,0,0.75);
}

#sd-header {
	height: 90px !important;
}

.sd-blog-page {
	margin-top: 40px;
}

.client-login-area .container .left-block {
	padding-top: 80px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.red-hashtag {
	color: #ee1836 !important;
	font-size: 70px;
}

.site-slogan-big-one {
	color: #ee1836 !important;
	font-size: 95px;
	font-weight: bold;
	font-family: 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
}

.site-slogan {
	font-weight: bold;
	font-size: 35px;
	text-transform: uppercase;
	line-height: 37px;
	color: #1b396d;
	font-family: 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
}

.site-slogan-wrapper {
	top: -24px;
}

.right-block .form-group {
	padding-bottom: 10px;
}

.login-form-outter {
	border-left-style: dotted;
	border-width: 1px;
	height: 155px;
}

.login-form-outter div.row {
	margin-left: 20px;
}

.client-login-area-mobile {
	display: none;
}

@media (max-device-width: 736px) {
	.client-login-area {
		display: none;
	}
	.client-login-area-mobile {
		display: block;
	}
	.red-hashtag,
	.site-slogan-big-one,
	.site-slogan {
		font-size: inherit;
	}

	#menu-module-details-menu > li {
		width: 100% !important;
	}

	#menu-module-details-menu > li > a {
		height: 30px !important;
		display: block !important;
		padding-top: 3px;
	}

	.training-module-page-title {
		margin-left: 0 !important;
		font-size: 36px !important;
	}

	.client-login-area-mobile .slogan {
		height: inherit !important;
	}

	.module-text-description button.buy-now-btn,
	.module-text-description button.btn {
		padding: 12px 20px !important;
	}

	.image-module-desc-row {
		margin-bottom: 0 !important;
	}

	.row-below-desc {
		padding-top: 0 !important;
	}

	.mobile-padding-top {
		margin-top: 20px;
	}
}


/* ----------- iPhone 5 and 5S ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
	.modules-grid div > div:hover img {
		-webkit-transform: none !important;
		-moz-transform: none !important;
		transform: none !important;
	}

	.modules-grid figcaption {
		display: none !important;
	}

	.modal-header img {
		top: -63px !important;
	}
}

/* ----------- Nexus 5 ----------- */
@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) {
	.modal-header img {
		top: -77px !important;
	}
}

/* ----------- iPhone 6 ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
	.modules-grid div > div:hover img {
		-webkit-transform: none !important;
		-moz-transform: none !important;
		transform: none !important;
	}

	.modules-grid figcaption {
		display: none !important;
	}

	.modal-header img {
		top: -82px !important;
	}
}

/* ----------- Nexus 6 ----------- */
@media screen and (device-width: 412px) and (device-height: 732px) {
	.modal-header img {
		top: -95px !important;
	}
}

/* ----------- iPhone 6+ ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {
	.client-login-area-mobile .slogan {
		font-size: 38px !important;
	}

	.modules-grid div > div:hover img {
		-webkit-transform: none !important;
		-moz-transform: none !important;
		transform: none !important;
	}

	.modules-grid figcaption {
		display: none !important;
	}

	.modal-header img {
		top: -95px !important;
	}

	.modal-dialog {
		margin: 100px 10px !important;
	}

}

/* ----------- iPad 3 and 4 ----------- */
/* Portrait and Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
	.sd-blog-page {
		margin-top: 80px;
	}
	.site-slogan-wrapper {
		padding-left: 20px;
	}

	.modules-grid div > div:hover img {
		-webkit-transform: none !important;
		-moz-transform: none !important;
		transform: none !important;
	}

	.modules-grid figcaption {
		display: none !important;
	}
}

/* Portrait and Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
	.sd-blog-page {
		margin-top: 80px;
	}
	.site-slogan-wrapper {
		padding-left: 20px;
	}
	.sd-menu-wrapper {
		float: left;
	}

	.modules-grid div > div:hover img {
		-webkit-transform: none !important;
		-moz-transform: none !important;
		transform: none !important;
	}

	.modules-grid figcaption {
		display: none !important;
	}
}

.client-login-area-mobile .slogan {
	color: #fff;
	font-size: 30px;
	background: url(images/client-login-bg.jpg) no-repeat center;
	height: 194px;
	padding: 60px 0;
	text-align: center;
}

.client-login-mobile .form-group {
	padding-bottom: 10px;
}

.client-login-mobile form .btn {
	background-color: #ef2923;
	color: #fff;
	font-weight: bold;
	background-image: none;
	padding: 10px 12px;
	text-shadow: none;
	width: 100%;
	font-size: 25px;
	font-family: 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
}

.client-login-mobile form .forgot-password {
	display: block;
	text-align: center;
	margin-top: 5px;
}

.testimonial-company-name-city {
	font-weight: bold;
	color: #2f3c40;
}

.testimonial-guy-name h4 {
	font-size: 22px;
}

.testimonials-row a.more-link {
	display: none;
}

#sd-footer {
	background-color: #fff;
}

.fixed-ratio-resize {
	max-width: 100%;
	height: auto;
	width: auto\9; /* IE8 */
}

/* TEMPORARY HIDE TOP MENU ITEMS */
#menu-item-732,
#menu-item-789,
#menu-item-736,
#menu-item-737,
#sidr-id-menu-item-732,
#sidr-id-menu-item-717,
#sidr-id-menu-item-789,
#sidr-id-menu-item-790,
#sidr-id-menu-item-736,
#sidr-id-menu-item-737 {
	display: none;
}

button.close {
	-webkit-appearance: none;
	padding: 0;
	cursor: pointer;
	background: 0 0;
	border: 0;
}

.close {
	float: right;
	font-size: 21px;
	font-weight: 700;
	line-height: 1;
	color: #000;
	text-shadow: 0 1px 0 #fff;
	filter: alpha(opacity=20);
	opacity: .2;
}

.modal-body .form-group .field-top-margin {
	margin-top: 20px;
	resize: none;
}

.help-block {
	color: #a94442;
}

form .modal-body {
	max-height: none;
}

textarea.form-control {
	height: inherit;
}

.sd-page-top {
	display: none;
}

#menu-module-details-menu * {
	list-style: none;
}

#menu-module-details-menu li:before {
	content: none;
}

#menu-module-details-menu > li {
	display: block;
	float: left;
	width: 19%;
	margin: 0.5%;
	text-align: center;
	border-radius: 6px;
	background-color: #091e42;
}

#menu-module-details-menu > li > a {
	height: 70px;
	color: #fff;
	display: table-cell;
	vertical-align: middle;
	width: inherit;
	font-weight: bold;
	font-size: 18px;
}

#menu-module-details-menu .current-menu-item {
	background-color: #ef2923;
}

#menu-module-details-menu > li.module-details-menu-item-selling-101 > a {
	background: url(images/01-bg.png) no-repeat center center transparent;
}

#menu-module-details-menu > li.module-details-menu-item-selling-basics > a {
	background: url(images/02-bg.png) no-repeat center center transparent;
}

#menu-module-details-menu > li.module-details-menu-item-understanding-the-buyer > a {
	background: url(images/03-bg.png) no-repeat center center transparent;
}

#menu-module-details-menu > li.module-details-menu-item-the-sales-process > a {
	background: url(images/04-bg.png) no-repeat center center transparent;
}

#menu-module-details-menu > li.module-details-menu-item-theory-of-closing > a {
	background: url(images/05-bg.png) no-repeat center center transparent;
}

#menu-module-details-menu > li.module-details-menu-item-closing-strategies > a {
	background: url(images/06-bg.png) no-repeat center center transparent;
}

#menu-module-details-menu > li.module-details-menu-item-incoming-calls > a {
	background: url(images/07-bg.png) no-repeat center center transparent;
}

#menu-module-details-menu > li.module-details-menu-item-prospecting > a {
	background: url(images/08-bg.png) no-repeat center center transparent;
}

#menu-module-details-menu > li.module-details-menu-item-follow-up > a {
	background: url(images/09-bg.png) no-repeat center center transparent;
}

#menu-module-details-menu > li.module-details-menu-item-100-ways-to-stay-motivated > a {
	background: url(images/10-bg.png) no-repeat center center transparent;
}

#menu-module-details-menu > li.module-details-menu-item-top-traits-of-great-sales-people > a {
	background: url(images/11-bg.png) no-repeat center center transparent;
}

#menu-module-details-menu > li.module-details-menu-item-internet-lead-response > a {
	background: url(images/12-bg.png) no-repeat center center transparent;
}

#menu-module-details-menu > li.module-details-menu-item-personal-finances > a {
	background: url(images/13-bg.png) no-repeat center center transparent;
}

#menu-module-details-menu > li.module-details-menu-item-handling-objections > a {
	background: url(images/14-bg.png) no-repeat center center transparent;
}

#menu-module-details-menu > li.module-details-menu-item-cardone-live-events > a {
	background: url(images/15-bg.png) no-repeat center center transparent;
}

.module-text-description {
	color: #333;
}

.module-text-description button.buy-now-btn,
.module-text-description button.btn {
	float: right;
	padding: 12px 42px;
	font-size: 25px;
	line-height: 1.3333333;
	border-radius: 6px;
	font-weight: bold;
	background-color: #008d3c;
	color: #fff;
	background-image: none;
	text-shadow: 1PX 1px 4px rgba(0,0,0,0.75);
}

.price-and-buy-now-btn {
	margin-top: 20px;
}

.price-and-buy-now-btn .price {
	color: #008d3c;
	font-weight: bold;
	font-size: 40px;
	font-family: Helvetica;
}

.price-and-buy-now-btn .price-desc {
	font-weight: bold;
}

.training-module-page-title {
	font-size: 50px;
	line-height: 37px;
	color: #1d3a6b;
	font-family: Helvetica;
	/*margin-left: 30px;*/
	text-shadow: 1px 1px 4px rgba(0,0,0,0.75);
}

.type-courses h3.sd-entry-title {
	display: none;
}

.price-buy-now-container {
	background-color: #ebebeb;
	padding: 20px;
	line-height: initial;
	margin-top: 15px;
}

/*Modal responsive fix*/

.modal-open .modal {
	overflow-x: hidden;
	overflow-y: auto;
}

.fade.in {
	opacity: 1;
}

.modal {
	position: fixed !important;
	top: 0 !important;
	right: 0;
	bottom: 0;
	left: 0 !important;
	z-index: 1050 !important;
	display: none;
	overflow: hidden;
	-webkit-overflow-scrolling: touch;
	outline: 0 !important;
	margin-left: 0 !important;
	width: initial !important;
	background-color: initial !important;
	border: none !important;
	border-radius: initial !important;
	box-shadow: none !important;
	background-clip: initial !important;
}

.fade {
	opacity: 0;
	-webkit-transition: opacity .15s linear;
	-o-transition: opacity .15s linear;
	transition: opacity .15s linear;
}

.modal-dialog {
	position: relative;
	width: auto;
	margin: 90px 10px;
}

.modal-content {
	position: relative;
	background-color: #fff;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border: 1px solid #999;
	border: 1px solid rgba(0,0,0,.2);
	border-radius: 6px;
	outline: 0;
	-webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
	box-shadow: 0 3px 9px rgba(0,0,0,.5);
}

@media (min-width: 768px) {
	.modal-dialog {
		width: 600px;
		margin: 300px auto;
	}
}
/* End Modal Fix */

/* Lightspeed Counter */

#counter{
	background-color:#c7c7c7;
	border-radius:5px;
	padding:10px;
	display:inline-block;
}
#counter ul{
	list-style:none;
	margin:0;
	padding:0;
}
#counter ul li{
	font-size:30px;
	border-radius:5px;
	margin:2px;
	padding:10px;
	display:inline-block;
	color:#ffffff;
	background:#005c93;
	background: linear-gradient(to bottom,  #009bf9, #009bf9, #001f31, #005081, #004975);
}
/* End Lightspeed Counter */

.modules-grid br,
.modules-grid br,
.modules-grid p:last-child,
.modules-grid p:last-child {
	display: none;
}

.modules-grid,
.modules-grid .row {
	margin-bottom: 20px;
}

.modules-grid img {
	display: block;
	height: auto;
	max-width: 100%;
}

.modules-grid figure {
	overflow: hidden;
	position: relative;
}

.modules-grid div > div:hover figcaption {
	opacity: 1;
}

.modules-grid img {
	display: block;
	height: auto;
	-webkit-transition: all 300ms;
	-moz-transition: all 300ms;
	transition: all 300ms;
	max-width: 100%;
}

.modules-grid div > div:hover img {
	-webkit-transform: scale(1.4);
	-moz-transform: scale(1.4);
	transform: scale(1.4);
}

.modules-grid figcaption ul {
	display: table-cell;
	font-size: 13px;
	position: relative;
	top: -40px;
	width: 289px;
	-webkit-transition: all 300ms ease-out;
	-moz-transition: all 300ms ease-out;
	transition: all 300ms ease-out;
	vertical-align: middle;
	padding-left: 15%;
	padding-right: 10%;
	line-height: 15px;
	font-weight: 700;
	list-style: disc;
}

.modules-grid figcaption ul li {
	padding-bottom: 7px !important;
}

.modules-grid figcaption ul li.learn-more-btn {
	text-align: center;
	list-style: none;
	margin-top: 20%;
	margin-left: -10%;
	font-size: 20px;
}

.modules-grid div > div:hover figcaption ul {
	-moz-transform: translateY(40px);
	-webkit-transform: translateY(40px);
	transform: translateY(40px);
}

.modules-grid figcaption {
	background: rgba(9, 30, 66, 1);
	color: white;
	display: table;
	height: 285px;
	left: 0;
	opacity: 0;
	position: absolute;
	right: 0;
	top: 0;
	-webkit-transition: all 300ms;
	-moz-transition: all 300ms;
	transition: all 300ms;
	-webkit-transition-delay: 100ms;
	-moz-transition-delay: 100ms;
	transition-delay: 100ms;
	z-index: 100;
}

.modal-header img {
	position: absolute;
	top: -166px;
	left: 0;
	max-width: 100%;
	height: auto;
}

.get-free-access-container {
	border: 2px solid #ebebeb;
	text-align: center;
	padding: 10px;
}

.get-free-access-container button.btn {
	float: none;
	width: 100%;
	background-color: #D92B25;
	border-radius: 0;
	text-shadow: 1PX 1px 4px rgba(0,0,0,0.75);
}

#yith-topbar-countdown.topbar-countdown-container {
	padding-top: 0 !important;
}

/* Bootstrap Accordion */
.panel-group {
	margin-bottom: 20px;
}

.panel-group .panel {
	margin-bottom: 0;
	border-radius: 4px;
}

.panel {
	margin-bottom: 20px;
	background-color: #fff;
	border: 1px solid transparent;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
	box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.panel-default {
	border-color: #ddd;
}

.panel-default>.panel-heading {
	color: #333;
	background-color: #f5f5f5;
	border-color: #ddd;
}
.panel-group .panel-heading {
	border-bottom: 0;
}
.panel-heading {
	padding: 10px 15px;
	border-bottom: 1px solid transparent;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.panel-title {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 16px;
	color: inherit;
}

.panel-title>.small, .panel-title>.small>a, .panel-title>a, .panel-title>small, .panel-title>small>a {
	color: inherit;
}

[role=button] {
	cursor: pointer;
}

.collapse.in {
	display: block;
}
.collapse {
	display: none;
}

.panel-default>.panel-heading+.panel-collapse>.panel-body {
	border-top-color: #ddd;
}
.panel-group .panel-heading+.panel-collapse>.list-group, .panel-group .panel-heading+.panel-collapse>.panel-body {
	border-top: 1px solid #ddd;
}
.panel-body {
	padding: 15px;
}

.panel-group .panel+.panel {
	margin-top: 5px;
}

.collapsing {
	position: relative;
	height: 0;
	overflow: hidden;
	-webkit-transition-timing-function: ease;
	-o-transition-timing-function: ease;
	transition-timing-function: ease;
	-webkit-transition-duration: .35s;
	-o-transition-duration: .35s;
	transition-duration: .35s;
	-webkit-transition-property: height,visibility;
	-o-transition-property: height,visibility;
	transition-property: height,visibility;
}

#accordion h4.panel-title {
	padding-bottom: 0;
}

.video-column iframe {
	width: 100%;
	height: 305px;
}

.vertical-align {
	height: 400px;
	margin-top: 45px;
}

.dominate-and-login-form-text {
	color: #000;
	font-family: 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
	font-size: 18px;
	margin-bottom: 8px;
	display: block;
}

.train-today-text {
	color: #1b396d;
	font-family: 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
	font-size: 22px;
}

.free-access-header,
.login-univ-btn {
	background-color: #ef2923 !important;
	color: #fff !important;
	font-weight: bold !important;
	background-image: none !important;
	padding: 10px 24px !important;
	text-shadow: none !important;
	margin-top: 10px;
	font-family: 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
	font-size: 17px !important;
	border-color: rgba(0,0,0,0.15) rgba(0,0,0,0.15) rgba(0,0,0,0.25) !important;
	line-height: normal;
}

.video-column {
	padding-right: 35px;
}

.free-access-login-column {
	padding-left: 35px;
	padding-top: 40px;
}

.free-access-column-wrapper {
	padding-bottom: 15px;
	padding-top: 10px;
}

.already-member-column-wrapper {
	border-width: 1px;
	border-left-style: dotted;
	border-left-color: #000;
	padding-bottom: 15px;
	padding-top: 10px;
	padding-left: 30px;
}

.already-member-column-wrapper > .dominate-and-login-form-text {
	margin-left: 3px;
}

.username-field {
	padding-bottom: 5px;
}

.password-field {
	padding-bottom: 11px;
}

.already-member-column-wrapper .login-univ-btn {
	margin-top: 0;
}

.forgot-password {
	font-size: 12px;
}

.no-home-page {
	height: 194px;
	background: #e3e3e3 url(/wp-content/themes/myuniversity_child/images/cu-header-handshake.png) no-repeat center center !important;
}

.no-home-page-header-height {
	height: 327px !important;
}

.login-form-toggler a {
	float: right;
	padding-right: 15px;
}

.login-form-toggler a:hover {
	color: #2f3c40;
}

.login-form-toggler span {
	font-size: 24px;
	color: #2f3c40;
	font-family: 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
	padding-left: 15px;
}

.login-form-toggler {
	height: 47px;
	background-color: #f1f1f1;
	padding-top: 9px;
}

.client-login-mobile {
	height: 190px;
}

.video-and-free-access-mobile {
	background: #e3e3e3 url(/wp-content/themes/myuniversity_child/images/cu-banner-mobile-bg.jpg) no-repeat center center;
	height: 365px;
}

.video-and-free-access-mobile .video-area iframe {
	width: 100%;
	height: 190px;
	margin-top: 15px;
}

.free-trial-area {
	text-align: center;
	display: block;
	color: #000;
	font-size: 20px;
}

.free-trial-area h3 {
	color: #1d3a6b;
	font-size: 27px;
	margin-top: 10px;
}

.free-trial-area button {
	background-color: #ef2923 !important;
	color: #fff !important;
	font-weight: bold !important;
	background-image: none !important;
	padding: 10px 24px !important;
	text-shadow: none !important;
	margin-top: 10px;
	font-family: 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
	font-size: 17px !important;
	border-color: rgba(0,0,0,0.15) rgba(0,0,0,0.15) rgba(0,0,0,0.25) !important;
}

.no-homepage-mobile {
	height: inherit;
	text-align: center;
	padding: 60px 0;
}

.no-homepage-mobile .training-module-page-title {
	color: #1d3a6b;
	text-transform: uppercase;
	font-weight: 700;
}

.fyre-help,
.fyre-livecount {
	display: none !important;
}

.fyre .fyre-comment-stream {
	overflow: hidden;
	overflow-y: scroll;
	width: 100%;
	height: 50vh;
	padding-right: 10px;
}

.fyre .fyre-comment-user {
	position: inherit !important;
	float: left;
}

#livefyre-comments {
	background: #f2f2f2;
	padding: 20px;
}

@media only screen and (min-width: 90.063em) {
	.post-password-required .entry-content {
		max-width: 590px;
	}
}

.post-password-required .entry-content {
	box-shadow: none !important;
	background: #1d3a6b;
	padding: 22px;
}

.post-password-required .entry-content label {
	margin-right: 10px;
	font-size: 2.3125rem;
	color: #C3C3C3;
}

.post-password-required .entry-content input {
	margin-right: 10px;
}

.post-password-required .entry-content span {
	display: block;
	margin-bottom: 15px;
	color: #C3C3C3;
}

.post-password-required .entry-content input[type="submit"] {
	color: #3E3E3E;
}

.post-password-required .entry-content h2 {
	color: #FFF;
}

article.post-password-required {
	background-color: inherit;
}

.fyre-comment-stream article {
	background-color: transparent;
}

.fyre-featured-body .fyre-comment p {
	color: #4c4c4c;
	font-weight: 600;
	font-size: 16px;
}

.video-embed-code .wpb_wrapper {
	padding-top: 56%;
	position: relative;
	box-shadow: 0px 0px 10px 4px rgba(0,0,0,0.7);
	margin: 30px;
}

.video-embed-code .wpb_wrapper iframe {
	width: 100%;
	height: 100%;
	display: block;
	position: absolute;
	margin: 0;
	top: 0;
	left: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.page-id-968 #sd-header,
.page-id-969 #sd-header,
.page-id-1074 #sd-header {
	display: none;
}

#menu-item-717 > ul {
	width: 300px;
}

#popmake-overlay {
	background-color: rgba(0, 0, 0, 0.48);
}

.popmake-close {
	background-color: #1d3a6b !important;
}

.gform_footer input[type=submit] {
	background-color: #1d3a6b !important;
	color: #fff;
	padding:5px 25px; /*add some padding to the inside of the button*/
	border:1px solid #888888; /*required or the default border for the browser will appear*/
	/*give the button a drop shadow*/
	-webkit-box-shadow: 0 0 4px rgba(0,0,0, .75);
	-moz-box-shadow: 0 0 4px rgba(0,0,0, .75);
	box-shadow: 0 0 4px rgba(0,0,0, .75);
	/*style the text*/
	color:#f3f3f3;
}

#popmake-997 {
	background-color: rgb(227, 227, 227) !important;
}

.page-template-template-case-studies .top-paragraph {
	font-size: x-large;
	line-height: 35px;
	/*padding: 25px 0px;*/
}

.page-template-template-case-studies .case-study-top-header {
	margin-bottom: 0;
}

.page-template-template-case-studies .panel-group .panel+.panel {
	margin-top: 40px;
}

.page-template-template-case-studies .case-studies-separator h4 {
	padding: 0 10px !important;
	color: #BBBBBB !important;
	font-size: 20px !important;
}

.page-template-template-case-studies article {
	text-align: justify;
}

.challenge-aproach-results {
	color: #333;
}

.modal.fade.in {
	top: 10%;
}

.modal.fade {
	top: -55%;
	-webkit-transition: opacity 0.2s linear,top 0.2s ease-out;
	-moz-transition: opacity 0.2s linear,top 0.2s ease-out;
	-o-transition: opacity 0.2s linear,top 0.2s ease-out;
	transition: opacity 0.2s linear,top 0.2s ease-out;
}

.modal-backdrop.fade.in {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1040;
}

.modal-backdrop, .modal-backdrop.fade.in {
	opacity: 0.8;
	filter: alpha(opacity=80);
}

.modal-backdrop.fade {
	opacity: 0;
}

.modal-backdrop {
	background-color: #000000;
}

.modal-header {
	padding: 9px 15px;
	border-bottom: none !important;
}

.modal-header .close {
	margin-top: 2px;
}

.modal-body {
	position: relative;
	max-height: 400px;
	padding: 15px;
	overflow-y: auto;
}

.modal-footer {
	padding: 14px 15px 15px;
	margin-bottom: 0;
	text-align: right;
	background-color: #f5f5f5;
	border-top: 1px solid #ddd;
	-webkit-border-radius: 0 0 6px 6px;
	-moz-border-radius: 0 0 6px 6px;
	border-radius: 0 0 6px 6px;
	-webkit-box-shadow: inset 0 1px 0 #ffffff;
	-moz-box-shadow: inset 0 1px 0 #ffffff;
	box-shadow: inset 0 1px 0 #ffffff;
}

.modal-footer:before, .modal-footer:after {
	display: table;
	line-height: 0;
	content: "";
}

.modal-footer:after {
	clear: both;
}

.modal .btn {
	border-color: #c5c5c5;
	border-color: rgba(0,0,0,0.15) rgba(0,0,0,0.15) rgba(0,0,0,0.25);
}

.modal .btn {
	display: inline-block;
	padding: 4px 12px;
	margin-bottom: 0;
	font-size: 14px;
	line-height: 20px;
	color: #333333;
	text-align: center;
	text-shadow: 0 1px 1px rgba(255,255,255,0.75);
	vertical-align: middle;
	cursor: pointer;
	background-color: #f5f5f5;
	background-image: -moz-linear-gradient(top,#ffffff,#e6e6e6);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#ffffff),to(#e6e6e6));
	background-image: -webkit-linear-gradient(top,#ffffff,#e6e6e6);
	background-image: -o-linear-gradient(top,#ffffff,#e6e6e6);
	background-image: linear-gradient(to bottom,#ffffff,#e6e6e6);
	background-repeat: repeat-x;
	border: 1px solid #bbbbbb;
	border-color: #e6e6e6 #e6e6e6 #bfbfbf;
	border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
	border-bottom-color: #a2a2a2;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#ffe6e6e6',GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
}

.modal .btn:hover {
	color:#333333;
	text-decoration:none;
	background-position:0 -15px;
	-webkit-transition:background-position 0.1s linear;
	-moz-transition:background-position 0.1s linear;
	-o-transition:background-position 0.1s linear;
	transition:background-position 0.1s linear;
}

.modal .btn:hover,
.modal .btn:active,
.modal .btn.active,
.modal .btn.disabled,
.modal .btn[disabled] {
	color:#333333;
	background-color:#e6e6e6;
	*background-color:#d9d9d9;
}

#buy-full-cu-link img {
	max-width: 100%;
}

ul#menu-module-details-menu {
	margin: 0;
	padding: 0;
}

.get-free-access-vertical-banner {
	text-align: center;
}

.get-free-access-vertical-banner .sd-title-wrapper h3 {
	border-bottom: none;
}

.page-id-1025 .fixed-ratio-resize {
	display: none !important;	
}

.login-header {
	background-color: #ef2923 !important;
	color: #fff !important;
	font-weight: bold !important;
	background-image: none !important;
	padding: 5px 24px !important;
	text-shadow: none !important;
	font-family: 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
	font-size: 17px !important;
	border-color: rgba(0,0,0,0.15) rgba(0,0,0,0.15) rgba(0,0,0,0.25) !important;
	line-height: normal;
}

#menu-item-1028 a {
	color: #fff;
}

#menu-item-1028 a:hover {
	background: rgba(0, 0, 0, 0);
}

#menu-item-1028.current-menu-item > a {
	background-color: rgba(0, 0, 0, 0) !important;
}

.page-id-968 .fixed-ratio-resize,
.page-id-969 .fixed-ratio-resize,
.page-id-1074 .fixed-ratio-resize {
	display: none !important;
}



/* Testimonials Page V2 */

#testimonials-v2 .testimonials-list {
	margin-bottom: 0;
	padding: 25px 0;
	font-style: italic;
}

#testimonials-v2 .testimonials-list .thumb-testimonial {
	float: left;
	text-align: left;
	width: 143px;
	position: relative;
}

#testimonials-v2 .testimonials-list .the-post {
	padding: 20px 0 0 35px;
	background: url('images/quote.png') no-repeat left 15px;
	margin-left: 150px;
}

#testimonials-v2 .sphere {
	border: 5px solid #B9B7B7;
}

#testimonials-v2 .sphere, 
#testimonials-v2 .sphere img {
	border-radius: 100px;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	display: block;
	margin: 0;
}

#testimonials-v2 .testimonials-list .thumb-testimonial img {
	width: 133px;
	height: 133px;
	margin-bottom: 0;
}

#testimonials-v2 .testimonials-list .thumb-testimonial p {
	clear: both;
	background-color: #fff;
	padding: 10px 10px 0px;
	text-align: right;
}

#testimonials-v2 .testimonials-list .name-testimonial {
	line-height: 1.5em;
	margin: 0;
}

#testimonials-v2 .testimonials-list span.title {
	font-size: 1.286em;
	color: #464545;
}

#testimonials-v2 .testimonials-list span.website,
#testimonials-v2 .testimonials-list span.website a,
#testimonials-v2 .testimonials-list span.twitter a {
	font-size: 1em;
	color: #7b7a7a;
}

#testimonials-v2 .group:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

#testimonials-v2 .testimonials-list .the-post p {
	margin: 0;
	color: #000;
	font-size: 16px;
	margin-bottom: 10px;
}

.sd-sticky-header {
	background-color: #000;
}

.sd-footer-widgets {
	padding: 0px 0px !important;
}

.sd-copyright {
	background-color: #000;
	font-size: 14px;
	padding: 5px 0px;
	text-align: center;
}

.sd-footer-sidebar-widget{
	margin-bottom: 10px !important;
}

/* Titles */
h1,
h2,
h3,
h4,
h5,
h6 {
	color: #000 !important;
}

#testimonials-v2 span.separator {
	margin: 0 10px;
}

/* CU Featured Testies styles */

.cu-featured-testies {
	font-size: 18px;
	font-style: italic;
	text-align: center;
}

.cu-featured-testies .flexslider {
	box-shadow: none !important;
	margin-bottom: 20px !important;
}

.cu-featured-testies-content {
	/*margin-bottom: 35px;*/
}

.cu-featured-testies .testi-pic img {
	border: 1px solid #c1c3c3;
	border-radius: 50%;
	display: inline-block !important;
	height: 82px !important;
	margin-bottom: 0;
	width: 82px !important;
}

.cu-featured-testies h4 {
	color: #0191c6;
	font-size: 15px;
	font-style: normal;
}

.cu-featured-testies .flexslider .flex-prev, 
.cu-featured-testies .flexslider:hover .flex-prev {
	left: 0 !important;
	margin: 0 0 0 -82px;
}

.cu-featured-testies .flex-direction-nav a {
	height: 40px;
	text-shadow: none;
	width: 23px;
	top: 30%;
	opacity: 1;
	line-height: 40px;
}

.cu-featured-testies .flex-direction-nav a:before {
	color: #9c9c9c;
	font-size: 60px;
	font-style: normal;
	font-family: "Ionicons";
	content: '\f3d2';
}

.cu-featured-testies .flex-direction-nav a.flex-next:before {
	content: '\f3d3';
}

.cu-featured-testies .flexslider .flex-next, 
.cu-featured-testies .flexslider:hover .flex-next {
	margin: 0 -76px 0 0;
	right: 0 !important;
}

.cu-featured-testies .col-md-8 p {
	margin-top: 0;
	margin-bottom: 0;
}

.cu-featured-testies .testi-content {
	text-align: justify;
} 

.cu-featured-testies .testi-meta {
	color: #838383;
	font-size: 15px;
}

.cu-featured-testies .v-center {
	display: table !important;
	height: 82px;
	margin: 0 auto;
}

.cu-featured-testies .v-center .content {
	display: table-cell;
	vertical-align: middle;
}

@media screen and ( max-width: 480px ), screen and ( max-width: 780px ) {
	.cu-featured-testies .flexslider .slides img.stars {
		margin-top: 20px;
	}

	.cu-featured-testies .flexslider .flex-prev {
		left: 80px !important;
	}

	.cu-featured-testies .flexslider .flex-next {
		right: 75px !important;
	}
}


/* Case Studies Styles */

#case-studies ul li ul li {
	padding-left: 0;
}

#case-studies .case-studies-isotope-grid .filter-trigger {
	cursor: pointer;
}

#case-studies .case-study-meta .case-industries li {
	display: inline;
	color: #fff;
	font-size: 13px;
}

#case-studies .case-study-meta .case-industries {
	padding: 0;
	margin: 10px 0;
	list-style: none;
	text-align: center;
}

#case-studies a.button:after {
	-webkit-transition: 0.3s ease;
	-moz-transition: 0.3s ease;
	-o-transition: 0.3s ease;
	transition: 0.3s ease;
	content: '';
	height: 10px;
	margin-top: -5px;
	opacity: 1;
	position: absolute;
	top: 50%;
	right: 20px;
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	-ms-transform: translateX(0);
	transform: translateX(0);
	width: 32px;
}

#case-studies a.button:before {
	-webkit-transition: 0.4s ease;
	-moz-transition: 0.4s ease;
	-o-transition: 0.4s ease;
	transition: 0.4s ease;
	border: 2px solid white;
	content: '';
	opacity: 0;
	position: absolute;
	top: 0;
	right: -1px;
	bottom: -2px;
	left: -1px;
	-webkit-transform: translateY(-7px) translateX(6px);
	-moz-transform: translateY(-7px) translateX(6px);
	-ms-transform: translateY(-7px) translateX(6px);
	transform: translateY(-7px) translateX(6px);
}

#case-studies a.button:before {
	border: 2px solid white;
}

#case-studies a.button {
	-webkit-transition: 0.5s ease;
	-moz-transition: 0.5s ease;
	-o-transition: 0.5s ease;
	transition: 0.5s ease;
	border: none;
	cursor: pointer;
	display: inline-block;
	line-height: 1;
	position: relative;
	overflow: visible;
	font-size: 14px;
	font-family: "proxima-nova",sans-serif;
	border: 1px solid #fff;
	font-weight: bold;
	letter-spacing: 1px;
	outline: 0;
	text-decoration: none;
	text-transform: uppercase;
	padding: 25px 95px 25px 60px;
	text-decoration: center;
	color: white;
}

#case-studies .case-study-meta .button {
	padding: 25px 60px;
}

#case-studies .case-study-meta h3 {
	color: white !important;
	font-size: 32px;
	line-height: 38px;
}

#case-studies .case-study-meta {
	-moz-transform: translate(0, -50%);
	-webkit-transform: translate(0, -50%);
	-o-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	transform: translate(0, -50%);
	position: absolute;
	top: 50%;
	width: 100%;
	color: white;
}

#case-studies .case-study-meta p {
	font-size: 15px;
	font-weight: 700;
}

#case-studies .case-study-meta {
	padding: 0 15%;
}

#case-studies .case-study-meta {
	-webkit-transition: 0.5s ease;
	-moz-transition: 0.5s ease;
	-o-transition: 0.5s ease;
	transition: 0.5s ease;
	opacity: 0;
}

#case-studies [class*="block-grid-"]>li:hover .case-study-meta {
	opacity: 1;
}

#case-studies [class*="block-grid-"]>li:hover img {
	opacity:0.25
}

#case-studies img {
	border: 0;
}

#case-studies img {
	height: auto;
	margin-top: 0;
	max-width: 100%;
}

#case-studies img {
	opacity: 0.25;
	width: 100%;
	vertical-align: bottom;
}

#case-studies img {
	-webkit-transition: 0.5s ease;
	-moz-transition: 0.5s ease;
	-o-transition: 0.5s ease;
	transition: 0.5s ease;
	opacity: 1;
}

#case-studies ul li {
	font-size: 18px;
	font-size: 1.125rem;
	line-height: 36rem;
	line-height: 2.25rem;
	padding-bottom: 15px;
}

#case-studies [class*="block-grid-"]>li {
	display: block;
	float: left;
	height: auto;
	padding-right: 15px;
	padding-left: 15px;
}

#case-studies .block-grid-4>li {
	width: 33.3333333333%; /* Change as needed. */ 
}

#case-studies .block-grid-4>li:nth-of-type(4n+1) {
	/*clear: both;*/
}

#case-studies [class*="block-grid-"]>li {
	background: #000;
	padding: 0 !important;
	position: relative;
	text-align: center;
}

#case-studies ul {
	list-style: none;
}

#case-studies [class*="block-grid-"] {
	display: block;
	margin: 0 -15px 15px -15px;
	overflow: auto;
	padding: 0;
}

#case-studies [class*="block-grid-"] {
	margin-bottom: 0 !important;
	overflow: hidden !important;
}

@media screen and ( max-width: 480px ) {
	#case-studies .block-grid-4>li {
		width: 100%;
	}

	#case-studies .sd-blog-entry {
		margin-bottom: 0;
	}
}


/* Single Case Study Page */

@media screen and ( max-width: 480px ) {
	#single-case-study .columns-8 {
		width: 100% !important;
	}
}

@media screen and ( max-width: 1800px ) {
	.single-case-study .title-banner {
		background-size: initial !important;
	}
}

#single-case-study .share-btns h5 {
	font-size: 16px;
}

#single-case-study .share-btns .addthis_toolbox {
	width: 180px;
	margin: 0 auto;
}

#single-case-study .share-btns {
	text-align: center;
}

#single-case-study .outcomes-details .separator:last-child {
	border-top: none;
	margin: 0;
}

#single-case-study .outcomes-details .separator {
	border-top: 1px solid #0191C6;
	width: 200px;
	margin: 20px auto;
}

#single-case-study .outcomes-details {
	text-align: center;
}

#single-case-study .outcomes-details p {
	padding-bottom: 0;
}

#single-case-study .about-case-study img {
	margin-bottom: 20px;
}

#single-case-study .obj-req-wrapper ul li span {
	color: #000;
}

#single-case-study .obj-req-wrapper ul {
	padding: 0;
	color: #0191C6;
}

#single-case-study .obj-req-wrapper h5 {
	padding-bottom: 0;
}

#single-case-study .obj-req-wrapper {
	border-top: 1px solid #0191C6;
	padding: 50px 15px;
	position: relative;
}

#single-case-study p {
	font-size: 18px;
	padding-bottom: 15px;
}

#single-case-study h5 {
	font-size: 20px;
	color: #11383b;
	letter-spacing: 1px;
	line-height: 32px;
	margin: 0;
	padding-bottom: 15px;
	text-transform: uppercase;
}

body.single-case-study .sd-blog-page {
	margin-top: 0;
}

.single-case-study .case-study-page-header .row:after {
	clear: both;
}

.single-case-study .case-study-page-header .button:before {
	-webkit-transition:0.4s ease;
	-moz-transition:0.4s ease;
	-o-transition:0.4s ease;
	transition:0.4s ease;
	border:2px solid white;
	content:'';
	opacity:0;
	position:absolute;
	top:0;
	right:-1px;
	bottom:-2px;
	left:-1px;
	-webkit-transform:translateY(-7px) translateX(6px);
	-moz-transform:translateY(-7px) translateX(6px);
	-ms-transform:translateY(-7px) translateX(6px);
	transform:translateY(-7px) translateX(6px)
}

.single-case-study .case-study-page-header .button:hover:before,
.single-case-study .case-study-page-header .button:focus:before {
	opacity:1;
	-webkit-transform:translateY(-1px) translateX(0);
	-moz-transform:translateY(-1px) translateX(0);
	-ms-transform:translateY(-1px) translateX(0);
	transform:translateY(-1px) translateX(0)
}

.single-case-study .case-study-page-header .button:after {
	-webkit-transition:0.3s ease;
	-moz-transition:0.3s ease;
	-o-transition:0.3s ease;
	transition:0.3s ease;
	content:'';
	height:10px;
	margin-top:-5px;
	opacity:1;
	position:absolute;
	top:50%;
	right:20px;
	-webkit-transform:translateX(0);
	-moz-transform:translateX(0);
	-ms-transform:translateX(0);
	transform:translateX(0);
	width:32px
}
.single-case-study .case-study-page-header .button:focus {
	outline:0
}

.single-case-study .case-study-page-header .button:focus:after {
	opacity:0;
	-webkit-transform:translateX(52px);
	-moz-transform:translateX(52px);
	-ms-transform:translateX(52px);
	transform:translateX(52px)
}

.single-case-study .case-study-page-header .button:hover {
	background:#3d3d3d;
	color:white
}

.single-case-study .case-study-page-header .button:before,
.single-case-study .case-study-page-header .button:after {
	display:none
}

.single-case-study .case-study-page-header .button {
	-webkit-transition: 0.5s ease;
	-moz-transition: 0.5s ease;
	-o-transition: 0.5s ease;
	transition: 0.5s ease;
	border: none;
	cursor: pointer;
	display: inline-block;
	line-height: 1;
	position: relative;
	overflow: visible;
	font-size: 14px;
	font-family: "proxima-nova",sans-serif;
	border: 1px solid #eec842;
	font-weight: bold;
	letter-spacing: 1px;
	outline: 0;
	text-decoration: none;
	text-transform: uppercase;
	padding: 25px 95px 25px 60px;
	text-decoration: center;
	background: white;
	border: none;
	color: #11383b;
	padding: 25px 105px;
	box-shadow: 0px 2px 10px rgb(37, 37, 37);
}

.single-case-study .case-study-page-header h1 {
	color: white !important;
	text-shadow: 0px 2px 2px rgb(37, 37, 37);
	font-family: 'Roboto',sans-serif;
	font-weight: 100;
	font-size: 42px;
	line-height: 1;
	text-transform: uppercase;
	display: inline-block;
	margin-bottom: 25px;
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
}

.single-case-study .case-study-page-header .banner-inner {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

.single-case-study .case-study-page-header .banner-outer {
	-webkit-transition: 0.5s ease;
	-moz-transition: 0.5s ease;
	-o-transition: 0.5s ease;
	transition: 0.5s ease;
	display: table;
	height: 500px;
	width: 100%;
}

.single-case-study .case-study-page-header .banner-outer {
	padding-bottom: 25px;
}

.single-case-study .case-study-page-header [class*="columns-"] {
	float: left;
	padding-right: 15px;
	padding-left: 15px;
}

.single-case-study .case-study-page-header .columns-12 {
	width: 100%;
}

.single-case-study .case-study-page-header [class*="columns-"] {
	-webkit-transition: 0.3s ease;
	-moz-transition: 0.3s ease;
	-o-transition: 0.3s ease;
	transition: 0.3s ease;
}

.single-case-study .case-study-page-header .row:before, 
.single-case-study .case-study-page-header .row:after {
	content: "";
	display: table;
}

.single-case-study .case-study-page-header .row {
	margin: 0 auto;
	width: 100%;
}

.single-case-study .title-banner {
	margin-bottom: 60px;
	border-bottom: 15px solid #0191C6;
	margin-top: -1px;
	position: relative;
}

#single-case-study .about-case-study {
	text-align: center;
}

#single-case-study [class*="columns-"].column-center {
	margin: 0 auto;
	float: none;
}

#single-case-study .columns-8 {
	width: 66.66667%;
}

@media screen and ( max-width: 480px ) {

	.page-id-1199 .sd-blog-page {
		margin-top: 30px;
	}

	.sd-blog-page {
		margin-top: 0;
	}

	.pricing-row {
		left: inherit;
	}

	.pricing-row .wpb_single_image.vc_align_right,
	.pricing-row .wpb_single_image.vc_align_left {
		text-align: center;
	}

	.module-text-description button.buy-now-btn, 
	.module-text-description button.btn {
		font-size: 14px;
	}

	#sd-header {
		height: auto !important;
	}

}

/* Tweaks for the pricing row on the home page */

.pricing-row {
	width: 101vw;
	position: relative;
	left: calc(-50vw + 50%);
}


#footer-gc-properties-logos {
	text-align: center;
	line-height: 100px;
}

#footer-gc-properties-logos img.property-logo {
	width: 75%;
}

